html {
  min-height: calc(100vh - 100px);
}

body {
    /*background: #fafafa;*/
    background: rgb(2,0,36);
    background: linear-gradient(319deg, rgba(2,0,36,1) 0%, rgba(160,124,226,1) 43%, rgba(0,212,255,1) 100%) no-repeat ;
    background-size: cover;
    color: #333333;
    margin-top: 5rem;
    background-attachment: fixed;
}

main {
  min-height: calc(100vh - 210px);
}
  
h1, h2, h3, h4, h5, h6 {
  color: #444444;
}

ul {
  margin: 0;
}

/* navbar */
.bg-steel {
  background-color: #5f788a;
}
  
.navbar {
  background-color: rgba(0,0,0,0.3);
  backdrop-filter: blur(8px);
}

.site-header .navbar-nav .nav-link {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link:hover {
  color: #9693f0;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}


/* main section */
.content-section {
  background: #ffffff;
  padding: 20px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
  opacity: 0.9;
}

.article-title {
  color: #444444;
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}

.about-content {
  display: flex;
  -webkit-box-align: start;
  align-items: center;
  flex-direction: column;
}

/* Icon */
.icon-img {
  height: 40px;
  width: 40px;
  margin-right: 1px;
  margin-bottom: 1px;
}

/* footer */

footer {
/*background: #444;*/
background-color: rgba(0,0,0,0.3);
backdrop-filter: blur(8px);
padding: 30px;
}

.copyright {
padding-top: 25px;
}

.smed i {
color: #fff;
font-size: 40px;
margin: 10px;
padding-top: 10px;
}

.smed i:hover {
color: rgb(129, 86, 207);
}