{% extends "blog/base.html" %}
{% block content %}
    <article class="media content-section about-content">
        <h1>About Me</h1>
        <img class="rounded-circle account-img" src="../../../media/profile-photo.jpg" alt="Image">
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Neque sunt culpa deserunt illo laudantium a, quis tempore maiores sed repellat? Consequuntur at modi debitis a hic eaque earum vero explicabo.</p>
    </article>
    
{% endblock content %}