{% extends "blog/base.html" %}
{% block content %}
    <article class="media content-section about-content">
        <h1>About Me</h1>
        <h3 class="text-secondary">Shaaheen A M</h3>
        <img class="rounded-circle account-img" src="../../../media/profile-photo.jpg" alt="Image">
        <p>I am developer with an immense interest in data science as well as backend development. I have done projects in Machine Learning, Deep Learning, Front end development as well as Full Stack development.</p>

        <p>I am currently working in Capgemini Technology Services, Mumbai. Before that I studied my Bachelor's in NIT Calicut, Kerala, India and my schooling from GSSS Kavaratti, Lakshadweep, India.</p>
    </article>
    
{% endblock content %}