{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <article class="media content-section">
        <form action="post">
          {% csrf_token %}
          <fieldset class="form-group">
              <legend class="border-bottom mb-4">Let's Connect</legend>
              {{ form|crispy }}
              <p>If you like this blog site and want to share your thoughts or even connect with me for a chat, please feel free to connect to me via <a href="https://www.linkedin.com/in/shaaheen-am/">LinkedIn</a> or drop a mail at my inbox at <a href="mailto:shaaheenam@gmail.com">shaaheenam@gmail.com</a>.</p>
          </fieldset>
          <!--<div class="form-group">
              <button class="btn btn-outline-info" type="submit">Send</button>
          </div>-->
        </form>
      </article>
{% endblock content %}