{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <article class="media content-section">
        <form action="post">
          {% csrf_token %}
          <fieldset class="form-group">
              <legend class="border-bottom mb-4">Let's Connect</legend>
              {{ form|crispy }}
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex sed cum minima maxime sint fugit hic ullam, sit amet dolor magni autem commodi. Adipisci, quod? Ab, quae. Dolorem, ipsa voluptatem!</p>

          </fieldset>
          <div class="form-group">
              <button class="btn btn-outline-info" type="submit">Send</button>
          </div>
        </form>
      </article>
{% endblock content %}